In [0]:
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql.types import StructField,StructType,IntegerType
from pyspark.sql.functions import col,count_distinct

spark = SparkSession.builder.appName("app").master("local[2]").getOrCreate()

In [0]:
data = [
( 1          , 2          , 3    )   ,
( 1          , 2          , 4    )   ,
( 1          , 3          , 3    )   ,
( 2          , 1          , 1    )   ,
( 2          , 2          , 1    )   ,
( 2          , 3          , 1    )   ,
( 2          , 4          , 1    )   ,
]
schema = StructType([
    StructField("teacher_id",IntegerType(),False),
    StructField("subject_id",IntegerType(),False),
    StructField("dept_id",IntegerType(),False)
])

teachers = spark.createDataFrame(data,schema)
teachers.show()

+----------+----------+-------+
|teacher_id|subject_id|dept_id|
+----------+----------+-------+
|         1|         2|      3|
|         1|         2|      4|
|         1|         3|      3|
|         2|         1|      1|
|         2|         2|      1|
|         2|         3|      1|
|         2|         4|      1|
+----------+----------+-------+

In [0]:
# Write a solution to calculate the number of unique subjects each teacher teaches in the university. Return the result table in any order.

teachers.groupBy("teacher_id").agg(count_distinct("subject_id").alias("subjects")).show()

+----------+--------+
|teacher_id|subjects|
+----------+--------+
|         1|       2|
|         2|       4|
+----------+--------+

In [0]:
teachers.createOrReplaceTempView("t")
spark.sql("select teacher_id,count(distinct subject_id) as subjects from t group by 1").show()

+----------+--------+
|teacher_id|subjects|
+----------+--------+
|         1|       2|
|         2|       4|
+----------+--------+

In [0]:
spark.stop()