In [0]:
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql.types import StructField,StructType,StringType,IntegerType
from pyspark.sql.functions import col,when

spark = SparkSession.builder.appName("app").master("local[2]").getOrCreate()

In [0]:
schema = StructType([
    StructField("id",IntegerType(),False),
    StructField("name",StringType(),False),
    StructField("sex",StringType(),False),
    StructField("salary",IntegerType(),False)
])

data = [
    (1  , 'A'    , 'm'   , 2500)   ,
    (2  , 'B'    , 'f'   , 1500)   ,
    (3  , 'C'    , 'm'   , 5500)   ,
    (4  , 'D'    , 'f'   , 500 )   
]

salary = spark.createDataFrame(data,schema)
salary.show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  m|  2500|
|  2|   B|  f|  1500|
|  3|   C|  m|  5500|
|  4|   D|  f|   500|
+---+----+---+------+

In [0]:
# Write a solution to swap all 'f' and 'm' values (i.e., change all 'f' values to 'm' and vice versa) 
salary.withColumn("sex",when(col("sex")=="m","f").otherwise("m")).show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  f|  2500|
|  2|   B|  m|  1500|
|  3|   C|  f|  5500|
|  4|   D|  m|   500|
+---+----+---+------+

In [0]:
salary.createOrReplaceTempView("s")
spark.sql("select id,name,if(sex='m','f','m') as sex,salary from s").show()

+---+----+---+------+
| id|name|sex|salary|
+---+----+---+------+
|  1|   A|  f|  2500|
|  2|   B|  m|  1500|
|  3|   C|  f|  5500|
|  4|   D|  m|   500|
+---+----+---+------+

In [0]:
spark.stop()